src/main/resources/com/example/xmleditorapp/xml/esign/xsd/NG_dialogs_def1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ESign">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Dialogs">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="Dialog">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Scene">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:choice maxOccurs="unbounded">
                                                        <xs:element name="BackGroundImage">
                                                            <xs:complexType>
                                                                <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                        <xs:attribute name="mimeType" type="xs:string" use="required" />
                                                                    </xs:extension>
                                                                </xs:simpleContent>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="TextBox">
                                                            <xs:complexType>
                                                                <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                <xs:attribute name="value" type="xs:string" use="required" />
                                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="x" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="y" type="xs:unsignedByte" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="ComboBox">
                                                            <xs:complexType mixed="true">
                                                                <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="Option">
                                                                        <xs:complexType>
                                                                            <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                    <xs:attribute name="value" type="xs:string" use="required" />
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="x" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="y" type="xs:unsignedByte" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Button">
                                                            <xs:complexType>
                                                                <xs:attribute name="action" type="xs:string" use="required" />
                                                                <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="label" type="xs:string" use="required" />
                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                <xs:attribute name="target" type="xs:string" use="optional" />
                                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                                                                <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="CheckBox">
                                                            <xs:complexType>
                                                                <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                <xs:attribute name="text" type="xs:string" use="required" />
                                                                <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="x" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="ListView">
                                                            <xs:complexType mixed="true">
                                                                <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="Option" type="xs:string" />
                                                                </xs:sequence>
                                                                <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                                                                <xs:attribute name="y" type="xs:unsignedByte" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="RadioButtonGroup">
                                                            <xs:complexType mixed="true">
                                                                <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="Option">
                                                                        <xs:complexType>
                                                                            <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                            <xs:attribute name="value" type="xs:string" use="required" />
                                                                            <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                            <xs:attribute name="x" type="xs:unsignedByte" use="required" />
                                                                            <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="height" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="width" type="xs:unsignedByte" use="required" />
                                                                <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                                                                <xs:attribute name="y" type="xs:unsignedByte" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                                <xs:attribute name="backgroundColor" type="xs:string" use="optional" />
                                                <xs:attribute name="height" type="xs:unsignedShort" use="required" />
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="height" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="height" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="title" type="xs:string" use="required" />
                        <xs:attribute name="version" type="xs:decimal" use="required" />
                        <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>